body{
	margin: 0;
}
canvas{
	width: 100%;
	height: auto;
}
input{
	width: 75%;
}
#canvas3d{
	padding: 0px;
}
#controls{
	background-color: #cccccc;
}
.input-title{
	font-size: 120%;
}
.input-desc{
	font-size: 80%;
}